
################################################################################
##                                                                            ##
## This file is part of the RaSt FooBar package.                              ##
##                                                                            ##
## RaSt FooBar - is a package for making foobar                               ##
##                                                                            ##
## Copyright (C)  2023  Ralf Stephan  <me@ralf-stephan.name>                  ##
##                                                                            ##
## GNU All-Permissive License:  Copying and distribution  of this file,  with ##
## or  without  modification,  are  permitted  in  any medium without royalty ##
## provided the copyright notice and this notice are preserved. This file  is ##
## offered as-is, without any warranty.                                       ##
##                                                                            ##
## $Version: 0.9.0 (2023-07-24 07:52:39 +00:00:00) $                          ##
##                                                                            ##
################################################################################



nppBackup/
/config.inc.sh
