##
## Copyright (C)  2023  John Dow  <john.dow@example.com>
##
## $Date: 2023-06-07 15:51:53.8110411000 +00:00:00 $
##
##
##
## Common configuration
##
project_name='JS';
##
##
##
## Git repository configuration.
##
##
repository_path='/home/user/JohnDow/repositories/';
##
repository_name='foobar';
##
user_name='John Dow';
##
user_email='john.dow@example.com';
##
merge_ff='false';
##
pull_ff='false';
##
tracked_repositories[]='github.com,git@github.com-JohnDow:JohnDow';
tracked_repositories[]='gitlab.com,git@gitlab.com-JohnDow:JohnDow';
tracked_repositories[]='example.com,ssh://JohnDow@example.com/home/JohnDow/repositories/foobar/';
##
git_files[0]='.gitattributes';
git_files[1]='.gitignore';
git_files[2]='.gitkeep';
git_files[3]='.gitmodules';
git_files[4]='.mailmap';
##
##
##
## GNU package configuration.
##
package_name='foobar';
##



deed_GNU_AGPL="
## This file is part of <PROJECT> <PACKAGE>.
##
## <DESCRIPTION>
##
## Copyright (C)  <COPYRIGHT-YEARS>  <COPYRIGHT-OWNERS>   <EMAIL>
##
##
## <PROJECT> <PACKAGE> is  free software: you can redistribute  it and/or modify
## it under the terms  of the GNU Affero General Public  License as published by
## the Free  Software Foundation, either version  3 of the License,  or (at your
## option) any later version.
##
##  <PROJECT> <PACKAGE> is  distributed in the hope that it  will be useful, but
##  WITHOUT ANY WARRANTY;  without even the implied  warranty of MERCHANTABILITY
##  or FITNESS  FOR A  PARTICULAR PURPOSE.   See the  GNU Affero  General Public
##  License for more details.
##
##  You should  have received a  copy of the  GNU Affero General  Public License
##  along with this program.  If not, see <https://www.gnu.org/licenses/>.";



##
deed_GNU_APL="";
##
deed_GNU_FDL="";
##
deed_GNU_GPL="";
##
deed_GNU_LGPL="";
##
deed_GNU_VCADL="";
